.container {
  display: flex;
}
.left-section {
  width: 32vw;
  min-height: 100vh;
}

.right-section {
  width: 68vw;
  min-height: 100vh;
  background-color: #B6D7A8;
  display: flex;
  justify-content: center;
}


